_VS_PY
.ipynb_checkpoints
my_project_env
proj_1
proj_2
proj_3
1.png
2.png
3.png
4.png
5.png
6.png
dog.png
haarcascade_frontalface_alt.xml
logo.png
marks.csv
PCM.csv
test.csv
train.csv
u.data
u.info
u.item
xdata.csv
ydata.csv
mnist_train.csv
abc.txt
ab1.txt
abc.json
data2.json
hello.txt
movie_metadata.csv
photo-1.jpeg
photo-2.jpeg
photo-3.jpeg
photo-4.jpeg
pokemon_data.csv
some.txt
_python_
data